{{- $footer      := .Site.Params.footer }}
{{- $email        := index $footer "email" }}
{{- $twitter        := index $footer "twitter" }}
<div class="contact">
    <span><a href="mailto:{{ $email }} ">Email</a></span>
    <span><a href="{{ $twitter }}" target="_blank">Twitter</a></span>
</div>
